@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 1100px) {
    .lg-block {
        display: block;
    }
    .lg-grid{
        display: grid;
    }
    .lg-none{
        display: none;
    }
}

@media only screen and (max-width: 1100px) {
    .max-lg-none{
        display: none;
    }
    .max-lg-grid{
        display: grid;
    }
    .max-lg-block{
        display: block;
    }
}

